.about-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6ff;
  height: 150vh;
}

.about-wrapper {
  background: burlywood;
  border-radius: 5px;
  padding: 10px;
  color: beige;
  width: 1000px;
}

.about-wrapper p {
  font-size: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;
}

.about-wrapper p a {
  color: blueviolet;
}
